@font-face {
    font-family: "joystick";
    src: url("fonts/joystick-mono-pixel.otf");
}

* {
    font-family: "Arial", sans-serif;
}

canvas {
    font-family: monospace;
    border: 1px solid black;
    padding: 0;
}

.options {
    margin-bottom: 1.5rem;
}

#tabloidWidth, #letterWidth, #letterHeight, #tabloidHeight {
    width: 5rem;
}

#generateButton {
    padding: 1rem;
}

#tabloid {
    display: grid;
    gap: 1px;
    overflow-x: scroll;
}

.cell {
    background-color: #e0e0e0;
    border-radius: 2px;
}