* {
    font-family: monospace;
    font-size: 25px;
}

canvas {
    font-family: monospace;
}

h1 {
    font-size: 1.5rem;
}

.options {
    margin-bottom: 1.5rem;
    margin-left: 1.5rem;
}

.options label {
}

#tabloidWidth, #letterWidth, #letterHeight, #tabloidHeight {
    width: 5rem;
}

#generateButton {
    padding: 1rem;
    font-weight: bold;
    margin-bottom: 1rem;
    font-size: 1.3rem;
}

#tabloid {
    display: grid;
    gap: 1px;
    overflow-x: scroll;
}

.cell {
    background-color: #e0e0e0;
    border-radius: 2px;
}